#main{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

#title{
    color: rgb(32, 31, 31);
    margin-top: 20px;
}

#img-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    background-color: white;
    border: 1px solid white;
    width: 88%;
    margin-top: 40px;
}

#image{
    width:80%;
    max-width:88%;
    margin-bottom: 15px;
    border-radius: 7px;
}

#tribute-info{
    width: 60%;
    text-align: left;
}

/* making the bold text bolder*/
#strong{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
}

/* makes the hyperlinked text blue */
#tribute-link{
    color: rgb(2, 2, 179);
    
}